@import "tailwindcss";

@theme {
  --color-primary: #d0f4f0;
  --color-body: #e7f9f8;
  --color-secondary: #122628;
  --color-accent: #4de0c7;
  --color-stroke: #3a5e5a;
  --color-highlight: #b2f0e7;
  --color-deepAccent: #36b3a2;
  --color-muted: #658c86;
  --color-background: #000700;
  --color-moreWhite: #e6f4ff; /* MAIN TEXT COLOR */
  /*accent colors below*/
  --color-teal: #7fd7d3;
  --color-tealBg: #103130;

  /*other accent colors in case they are needed*/

  --color-purple: #b39ddb;
  --color-purpleBg: #2d223a;

  --color-red: #ef7d7d;
  --color-redBg: #2d1e1e;
  --color-orange: #f7b267;
  --color-orangeBg: #2e251a;
  --color-blue: #89a6f7;
  --color-blueBg: #1a2135;
  --color-fresh: #a8e6cf;
  --color-freshBg: #1a332e;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(18, 38, 40, 1);
  border-radius: 10px;
}

td {
  font-variant-numeric: tabular-nums;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select option {
  background-color: #00120a; /* match your dark theme */
  color: #e6f4ff; /* your text color */
  font-size: 0.75rem;
}
