@import "tailwindcss";

@theme {
  --color-primary: #d0f4f0; /* Soft teal primary */
  --color-body: #e7f9f8; /* Very light background for body */
  --color-secondary: #122628; /* Deep teal-black for secondary elements */
  --color-accent: #4de0c7; /* Bright teal accent */
  --color-stroke: #3a5e5a; /* Deep muted teal for borders and strokes */
  --color-highlight: #b2f0e7; /* Soft minty highlight */
  --color-deepAccent: #36b3a2; /* Strong teal accent */
  --color-muted: #658c86; /* Cool muted gray-teal for secondary text */
  --color-background: #00120a;
  --color-moreWhite: #e6f4ff;

  --color-purple: #b39ddb;
  --color-purpleBg: #2d223a;
  --color-teal: #7fd7d3;
  --color-tealBg: #103130;
  --color-red: #ef7d7d;
  --color-redBg: #2d1e1e;
  --color-orange: #f7b267;
  --color-orangeBg: #2e251a;
  --color-blue: #89a6f7;
  --color-blueBg: #1a2135;
  --color-fresh: #a8e6cf;
  --color-freshBg: #1a332e;
}
